.logo{
    height: 75px;
    width: 75px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlR0fubmSj8IaWelZZ8myI4QXoS5-fEPN76A&s);
    background-size: cover;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

